/* COLORS =================================*/
:root {
  --green: #4a8284;
  --green-dark: #08191a;
  --brown: #331e1a;
  --gray: #aca2a0;
  --white: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.5);
}

/* HEADER-SHADOW =================================*/
.shadow {
  box-shadow: 0px 0px 6px black;
  transition: all 0.5s ease-in-out;
}
#header {
  color: var(--white);
  background-color: var(--green);
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 99999;
  overflow-x: hidden;
}

#header .contents_nav {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}

.contents_nav .nav {
  font-weight: 400;
}

.logo > img {
  height: 70px;
  width: 257px;
}

.menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.menu_item > a {
  position: relative;
  color: var(--white);
}

/* NAV-ANIMATION =================================*/
.menu_item > a::before {
  content: "";
  position: absolute;
  background-color: var(--white);
  width: 0%;
  height: 1px;
  transition: all 0.35s ease-in-out;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 110%;
}

.menu_item > a:hover::before {
  width: 100%;
}

/* NAV-MOBILE ===================================*/
.nav_mobile {
  display: none;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid var(--white);
  background-color: var(--green);
  cursor: pointer;
  position: relative;
}

.nav_mobile::before {
  content: "";
  background-color: var(--white);
  width: 22px;
  height: 2px;
  position: absolute;
  bottom: 11px;
  box-shadow: 0 -7px var(--white);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.nav_mobile::after {
  content: "";
  background-color: var(--white);
  width: 22px;
  height: 2px;
  position: absolute;
  bottom: 25px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

/* NAV-MOBILE ANIMATION ===================================*/
.animation::before {
  box-shadow: 0 0px var(--white);
  transform: rotate(135deg);
  display: flex;
  bottom: 18px;
}
.animation::after {
  transform: rotate(-135deg);
  display: flex;
  bottom: 18px;
}

/* REPONSIVE */
@media (max-width: 900px) {
  .menu {
    position: fixed;
    display: flex;
    z-index: 9999999;
    flex-direction: column;
    gap: 50px;
    top: 14.5%;
    font-size: 1.7rem;
    text-align: center;
    background-color: var(--green);
    right: 1%;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(30px, 0px, 0px);
  }

  .menu > li > a {
    color: var(--white);
    border-bottom: 2px solid var(--white);
  }

  .show_mobile {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
  }

  .menu_item > a::before {
    display: none;
  }

  .nav_mobile {
    display: flex;
    place-content: center;
  }

  #header {
    position: relative;
  }
}

@media (max-width: 550px) {
  .menu {
    padding: 45px;
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
}

@media (max-width: 360px) {
  #header .contents_nav {
    justify-content: center;
  }

  .menu {
    top: 13%;
  }
}
