/* FONTS =================================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap");

/* COLORS =================================*/
:root {
  --green: #4a8284;
  --green-dark: #08191a;
  --brown: #331e1a;
  --gray: #aca2a0;
  --white: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.5);
}

#services > .title {
  margin-top: 2%;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin-top: 3%;
  overflow: hidden;
}

.services img {
  max-width: 100%;
  margin-bottom: 2%;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.contents > h1 {
  font-family: Noto Serif;
  font-size: 2.5rem;
  color: var(--brown);
  margin-bottom: 10%;
}

.topics {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.topics > p {
  font-size: 1.4rem;
}

/* SCROLL SERVICES ANIMATION ================================*/

.services_col {
  opacity: 0;
  transition: 0.4s;
  transform: translate3d(-30px, 0px, 0);
}

.services_col2 {
  border-left: 1px solid var(--brown);
  border-right: 1px solid var(--brown);
  opacity: 0;
  transition: 0.4s;
  transition-delay: 100ms;
  transform: translate3d(0, 30px, 0);
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.services_col3 {
  opacity: 0;
  transition: 0.4s;
  transform: translate3d(30px, 0, 0);
}

.animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* RESPONSIVE ================================*/

@media (max-width: 1400px) {
  .services_col2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1100px) {
  .topics > p {
    font-size: 1.1rem;
  }

  .contents > h1 {
    font-size: 2.1rem;
  }

  .services img {
    max-width: 60%;
    margin-bottom: 2%;
  }
}

@media (max-width: 850px) {
  .services_col2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 700px) {
  .services {
    grid-template-columns: 1fr;
    gap: 50px;
    margin-bottom: 64px;
  }
  .services_col2 {
    padding: 32px 0px;
    border-top: 2px solid var(--brown);
    border-bottom: 2px solid var(--brown);
    border-right: none;
    border-left: none;
    text-align: center;
  }
  .topics > p {
    font-size: 1.5rem;
  }

  .contents > h1 {
    font-size: 2.5rem;
  }

  .services img {
    max-width: 100%;
    margin-bottom: 2%;
  }
}

@media (max-width: 400px) {
  .topics > p {
    font-size: 1.2rem;
  }

  .contents > h1 {
    font-size: 2.2rem;
  }

  .services img {
    max-width: 70%;
    margin-bottom: 2%;
  }
}
